service firebase.storage {
  match /b/{bucket}/o {
    match /userIcon/default.png {
      allow read: if true;
    }
    match /userIcon/{uid}/{allPaths=**} {
      allow read, write: if request.auth.uid == uid;
    }
  }
}
